[build]
  publish = "."
  functions = "functions"

[build.environment]
  PYTHON_VERSION = "3.10"
  # Esta variável avisa ao buildbot que o runtime padrão das funções é Python
  NETLIFY_ANY_PYTHON = "true" 

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200
